html, body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ffffff;
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.content {
  flex-grow: 1;
}
