<ul class="list-inline text-center">
  <li>
    <% link_to("https://www.linkedin.com/in/adalbertogonzalez/", target: "blank") do %>
      <i class="fa fa-linkedin" aria-hidden="true"></i>
    <% end %>
  </li>
  <li>
    <% link_to("https://github.com/adalg08", target: "blank") do %>
      <i class="fa fa-github" aria-hidden="true"></i>
    <% end %>
  </li>
  <li>
    <% link_to("https://twitter.com/ApuntesdeViajes", target: "blank") do %>
      <i class="fa fa-twitter" aria-hidden="true"></i>
    <% end %>
  </li>
</ul>
