---
title: Adalberto Gonzalez | FullStack Web Developer
---
<div class="profile padded">
  <div class="container">
    <div class="row">
      <div class="col-md-3 text-center">
        <% image_tag "profile_pic.jpg" %>
      </div>
      <div class="col-md-9">
        <div class="resume text-center">
          <h1>Développeur Web FullStack</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse saepe tenetur illum rerum voluptas quibusdam neque, magnam nostrum sit quidem fugiat amet quia itaque dolores, facilis repudiandae quam porro.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features text-center padded">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <img src="images/globe.png" alt="">
        <h3>Discover the world</h3>
        <p>The earth is your new home.</p>
      </div>
      <div class="col-md-3">
        <img src="images/dollar.png" alt="">
        <h3>Pay online</h3>
        <p>No cash issues anymore.</p>
      </div>
      <div class="col-md-3">
        <img src="images/beer.png" alt="">
        <h3>Meet people</h3>
        <p>Discover new culture and lifestyle.</p>
      </div>
      <div class="col-md-3">
        <img src="images/heart.png" alt="">
        <h3>Share and love</h3>
        <p>Join a community you will love.</p>
      </div>
    </div>
  </div>
</div>

<div class="cards text-center padded">
  <h2>Projets</h2>
  <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <div class="card-category">Fullstack</div>
        <div class="card-description">
          <h2>Yacht & Crew </h2>
          <p>Book your yacht and have fun</p>
        </div>
        <%= link_to "", "https://yacht-and-crew.herokuapp.com/", class: "card-link", target: "blank" %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <div class="card-category">Fullstack</div>
        <div class="card-description">
          <h2>Agora</h2>
          <p>Learn by sharing</p>
        </div>
        <%= link_to "", "http://www.agora-learn.eu/", class: "card-link", target: "blank" %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <div class="card-category">Frontend</div>
        <div class="card-description">
          <h2>Apuntes de Viajes</h2>
          <p>Viaja por el mundo</p>
        </div>
        <%= link_to "", "http://www.apuntesdeviajes.com/", class: "card-link", target: "blank" %>
      </div>
    </div>
  </div>
</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4 col-xs-12 col-md-offset-4">
      <div class="newsletter padded text-center">
        <h2>Get news from us</h2>
        <p>Leave us your mail and get news from us</p>
        <form action="#" class="form-inline">
          <input type="text" class="form-control" placeholder="bob@gmail.com">
          <input type="submit" value="Subscribe" class="btn btn-primary">
        </form>
      </div>
    </div>
  </div>
</div>

<div class="map">
  <div id="map" style="width: 100%; height: 400px;"></div>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
  <script type="text/javascript">
  var myLatlng = new google.maps.LatLng(48.8655909, 2.378983);
  var myOptions = {
    zoom: 16,
    center: myLatlng,
    scrollwheel: false,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    styles: [] // TODO: replace [] by array from https://snazzymaps.com/
  };
  var map = new google.maps.Map(document.getElementById('map'), myOptions);
  var marker = new google.maps.Marker({
    position: myLatlng,
    map: map,
    title: "You are here!"
  });
  </script>
</div>
