---
title: Adalberto Gonzalez | FullStack Web Developer
---

<div class="profile padded">
  <div class="container">
    <div class="row">
        <div class="resume">
          <div class="col-sm-6">

            <div class="padded">
              <h3>Sociologue et développeur web</h3>

              <p>Je suis actuellement jeune chercheur (doctorant contractuel en sociologie) au <%= link_to "Centre Population et Développement", "http://www.ceped.org/"  %> à Paris, France. Mes recherches portent sur les mobilités  scientifiques et leurs impacts sur le développement.</p>

              <p>Je suis aussi intéressé par le développement web. Je fais de sites et des applications web avec Ruby on Rails et Javascript. Je suis alumni LeWagon Batch #67 Bordeaux. Je m'entraine à l'analyse de données avec Python pour concilier mes deux passions : la recherche et la programmation.</p>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
