---
title: Adalberto Gonzalez | FullStack Web Developer
---
<div class="profile padded">
  <div class="container">
    <div class="row">
      <div class="col-md-3 text-center">
        <%= image_tag "profile_pic.jpg", class: "avatar-large" %>
      </div>
      <div class="col-md-9">
        <div class="resume text-center">
          <h1>Développeur Web FullStack</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse saepe tenetur illum rerum voluptas quibusdam neque, magnam nostrum sit quidem fugiat amet quia itaque dolores, facilis repudiandae quam porro.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features text-center padded">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <img src="images/globe.png" alt="">
        <h3>Discover the world</h3>
        <p>The earth is your new home.</p>
      </div>
      <div class="col-md-3">
        <img src="images/dollar.png" alt="">
        <h3>Pay online</h3>
        <p>No cash issues anymore.</p>
      </div>
      <div class="col-md-3">
        <img src="images/beer.png" alt="">
        <h3>Meet people</h3>
        <p>Discover new culture and lifestyle.</p>
      </div>
      <div class="col-md-3">
        <img src="images/heart.png" alt="">
        <h3>Share and love</h3>
        <p>Join a community you will love.</p>
      </div>
    </div>
  </div>
</div>

<div class="cards text-center padded">
  <h2>REALISATIONS</h2>
  <p>Mes derniers projets web</p>
  <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <div class="card-category">Fullstack</div>
        <div class="card-description">
          <h2>Yacht & Crew </h2>
          <p>Book your yacht and have fun</p>
        </div>
        <%= link_to "", "https://yacht-and-crew.herokuapp.com/", class: "card-link", target: "blank" %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <div class="card-category">Fullstack</div>
        <div class="card-description">
          <h2>Agora</h2>
          <p>Learn by sharing</p>
        </div>
        <%= link_to "", "http://www.agora-learn.eu/", class: "card-link", target: "blank" %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <div class="card-category">Frontend</div>
        <div class="card-description">
          <h2>Apuntes de Viajes</h2>
          <p>Viaja por el mundo</p>
        </div>
        <%= link_to "", "http://www.apuntesdeviajes.com/", class: "card-link", target: "blank" %>
      </div>
    </div>
  </div>
</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4 col-xs-12 col-md-offset-4">
      <div class="newsletter padded text-center">
        <h2>Demarrez votre projet web</h2>
        <p>Leave us your mail and get news from us</p>
        <form action="#" class="form-inline">
          <input type="text" class="form-control" placeholder="bob@gmail.com">
          <input type="submit" value="Subscribe" class="btn btn-primary">
        </form>
      </div>
    </div>
  </div>
</div>
