---
title: Adalberto Gonzalez | FullStack Web Developer
---

<div class="profile">
  <div class="container">
    <div class="row">
        <div class="resume">
          <div class="col-sm-6 col-sm-offset-3">

            <div>
              <h3>Sociologue et développeur web</h3>

              <p>Je suis actuellement <strong>jeune chercheur (doctorant contractuel en sociologie) au <%= link_to "Centre Population et Développement", "http://www.ceped.org/", target: "blank"  %> à Paris, France</strong>. Mes recherches portent sur les mobilités  scientifiques et la circulation des connaissances.</p>

              <p>Je suis aussi intéressé par le développement web. <strong>Je fais des sites et des applications web avec Ruby on Rails et Javascript</strong>. Je suis <%= link_to "alumni LeWagon Batch #67 Bordeaux", "https://www.lewagon.com/demoday/67/agora", target: "blank"  %>. J'apprends l'analyse de données avec Python pour concilier mes deux passions : la recherche et la programmation.</p>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
