<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <p><strong>Discipline de la thèse :</strong>  Sociologie</p>

      <p><strong>Affectation géographique et adresse :</strong>
      Centre Population et Développement (CEPED)
      45 rue des Saints-Pères
      75006 Paris</p>

      <p><strong>Axe de recherche au Ceped :</strong> <%= link_to "Axe 3 - Éducation et Savoirs au Sud", "http://www.ceped.org/fr/Axes/Presentation-Axe-3", target: "blank" %> </p>

      <p><strong>École doctorale :</strong> Ecole Doctorale 180 Sciences Humaines et Sociales - Paris Descartes</p>

      <p><strong>Directeur de thèse :</strong> Etienne Gérard (IRD)</p>
      <p><strong>Titre de la thèse : </strong> Les programmes de rapatriement des chercheurs et leurs impacts sur le champ scientifique. Le cas de la Colombie et de l'Argentine</p>
    </div>
  </div>
</div>


